/**
 *  Variables
 */

$max-width: 1920px;
$page-margin: 20px;

/** 
 * Grids
 */

// Grid Breakpoints
$grid-gutter-width: 20px !default;

// Define the classes names
$nameof-container: "container" !default;
$nameof-row: "row" !default;
$nameof-grid: "grid" !default;
$nameof-column: "col" !default;
$nameof-ratio: "ratio" !default;
$nameof-flexbox: "flex" !default;

$columns-groups: (2, 3, 5, 8, 13) !default;

