/*! Grid Classes */

.#{$nameof-grid} {
  list-style: none;   
  display: flex;
  flex-wrap: wrap;    
  width: 100%;  

  @if $debug-grids {
    background: rgb(220, 240, 255);
    border: rgb(73, 102, 134);
    border-width: 1px;
    border-style: solid
  }     
}

.#{$nameof-column} {
  box-sizing: border-box;
  display: inline-block;  
  min-height: 1px;  
  vertical-align: top;

  @if $debug-grids {
    background: pink;
    border: rgb(179, 116, 126);
    border-width: 1px;
    border-style: solid
    ;
  }
}

/* Flex box */
.#{$nameof-flexbox} {
  display: flex;  

  @if $debug-grids {
    background-color: rgb(240, 255, 220);
  }

  & .#{$nameof-column} {
    flex: 1;    

    @if $debug-grids {
      background: lightgreen;
      border: rgb(116, 179, 132);
      border-width: 1px;
      border-style: solid
      ;
    }
  }
}


/**
 *  Construct a grid for each group, with ratio divisions 
*/

// For each of our column groups...
@each $columns-group in $columns-groups {
  
  // ...create a ratio class.
  @for $i from 1 through $columns-group {
    .#{$nameof-ratio}-#{$i}-by-#{$columns-group} {
      width: percentage($i/$columns-group);
    }
  }
}