/** 
 * Base 
 */

// Set up a decent box model on the root element
 html {
  box-sizing: border-box;
}

// Make all elements from the DOM inherit from the parent box-sizing 
*,
*::before,
*::after {
  box-sizing: inherit;
}

// Container
.#{nameof-container} {
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;  
  padding-left: $page-margin;
  padding-right: $page-margin;  
}


